<%- include ("partials/header") -%>
<%- include ("partials/menu") -%>
<%- include ("partials/pdfGenerate") -%>
	<script>
		var faktura 	=	false;
		<% if (typeof faktura!="undefined") { %>
			faktura = <%-JSON.stringify(faktura)%>;
		<% }%>
	</script>
	<script>
		var cenovnik = <%-JSON.stringify(cenovnik)%>;
	</script>
	<div class="pageTitle">Fakturisanje</div>
	
	<div class="sections" id="sections">
		<div class="section">
			<div id="new-invoice">
				<div class="inputWrapper">
					<div class="note">Broj Računa:</div>
					<div class="inputWrap">
						<input type="text" id="broj-fakture">
						<script>
							if(faktura){
								document.getElementById("broj-fakture").value = faktura.broj;
							}
						</script>
					</div>
					<div class="error"></div>
				</div>
				<div class="inputWrapper">
					<div class="note">Datum Računa:</div>
					<div class="inputWrap">
						<input type="date" id="datum-fakture">
						<script>
							if(faktura){
								document.getElementById("datum-fakture").value = faktura.datumFakture;
							}
						</script>
					</div>
					<div class="error"></div>
				</div>
				<div class="inputWrapper">
					<div class="title">Podaci o vlasniku:</div>
				</div>
				<div class="inputWrapper">
					<div class="note">Vlasnik:</div>
					<div class="inputWrap extended">
						<input type="text" id="ime-vlasnika">
						<script>
							if(faktura){
								document.getElementById("ime-vlasnika").value = faktura.imeVlasnika;
							}
						</script>
					</div>
					<div class="error"></div>
				</div>
				<div class="inputWrapper">
					<div class="note">Adresa:</div>
					<div class="inputWrap extended">
						<input type="text" id="adresa-vlasnika">
						<script>
							if(faktura){
								document.getElementById("adresa-vlasnika").value = faktura.adresaVlasnika;
							}
						</script>
					</div>
					<div class="error"></div>
				</div>
				<div class="inputWrapper">
					<div class="note">Telefon:</div>
					<div class="inputWrap extended">
						<input type="text" id="telefon-vlasnika">
						<script>
							if(faktura){
								document.getElementById("telefon-vlasnika").value = faktura.telefonVlasnika;
							}
						</script>
					</div>
					<div class="error"></div>
				</div>
				<div class="inputWrapper">
					<div class="title">Podaci o životinji:</div>
				</div>
				<div class="inputWrapper">
					<div class="note">Ime:</div>
					<div class="inputWrap">
						<input type="text" id="ime-zivotinje">
						<script>
							if(faktura){
								document.getElementById("ime-zivotinje").value = faktura.imeZivotinje;
							}
						</script>
					</div>
					<div class="error"></div>
				</div>
				<div class="inputWrapper">
					<div class="note">Vrsta/rasa:</div>
					<div class="inputWrap extended">
						<input type="text" id="vrsta-rasa-zivotinje">
						<script>
							if(faktura){
								document.getElementById("vrsta-rasa-zivotinje").value = faktura.vrstaRasa;
							}
						</script>
					</div>
					<div class="error"></div>
				</div>
				<div class="inputWrapper">
					<div class="note">Mikročip:</div>
					<div class="inputWrap extended">
						<input type="text" id="mikrocip-zivotinje">
						<script>
							if(faktura){
								document.getElementById("mikrocip-zivotinje").value = faktura.mikrocip;
							}
						</script>
					</div>
					<div class="error"></div>
				</div>
				<div class="inputWrapper">
					<div class="note">Pol:</div>
					<div class="inputWrap">
						<input type="text" id="pol-zivotinje">
						<script>
							if(faktura){
								document.getElementById("pol-zivotinje").value = faktura.pol;
							}
						</script>
					</div>
					<div class="error"></div>
				</div>
				<div class="inputWrapper">
					<div class="note">Boja:</div>
					<div class="inputWrap extended">
						<input type="text" id="boja-zivotinje">
						<script>
							if(faktura){
								document.getElementById("boja-zivotinje").value = faktura.boja;
							}
						</script>
					</div>
					<div class="error"></div>
				</div>
				<div class="inputWrapper">
					<div class="note">Datum Rođenja:</div>
					<div class="inputWrap">
						<input type="date" id="datum-rodjenja-zivotinje">
						<script>
							if(faktura){
								document.getElementById("datum-rodjenja-zivotinje").value = faktura.datumRodjenja;
							}
						</script>
					</div>
					<div class="error"></div>
				</div>
				<div class="inputWrapper">
					<div class="note">Težina:</div>
					<div class="inputWrap extended">
						<input type="text" id="tezina-zivotinje">
						<script>
							if(faktura){
								document.getElementById("tezina-zivotinje").value = faktura.tezina;
							}
						</script>
					</div>
					<div class="error"></div>
				</div>
				<div class="inputWrapper">
					<div class="note">Temperatura:</div>
					<div class="inputWrap extended">
						<input type="text" id="temperatura-zivotinje">
						<script>
							if(faktura){
								document.getElementById("temperatura-zivotinje").value = faktura.temperatura;
							}
						</script>
					</div>
					<div class="error"></div>
				</div>
				<div class="inputWrapper">
					<div class="note">Anamneza:</div>
					<div class="inputWrap extended">
						<textarea id="anamneza-zivotinje"></textarea>
						<script>
							if(faktura){
								document.getElementById("anamneza-zivotinje").value = faktura.anamneza;
							}
						</script>
					</div>
					<div class="error"></div>
				</div>
				<div class="inputWrapper">
					<div class="note">Klinički nalaz:</div>
					<div class="inputWrap extended">
						<textarea id="klinicki-nalaz-zivotinje"></textarea>
						<script>
							if(faktura){
								document.getElementById("klinicki-nalaz-zivotinje").value = faktura.klinickiNalaz;
							}
						</script>
					</div>
					<div class="error"></div>
				</div>
				<div class="inputWrapper">
					<div class="note">Dijagnoza:</div>
					<div class="inputWrap extended">
						<input type="text" id="dijagnoza-zivotinje">
						<script>
							if(faktura){
								document.getElementById("dijagnoza-zivotinje").value = faktura.dijagnoza;
							}
						</script>
					</div>
					<div class="error"></div>
				</div>
				<div class="inputWrapper">
					<div class="note">Lek:</div>
					<div class="inputWrap extended">
						<input type="text" id="lek-zivotinje">
						<script>
							if(faktura){
								document.getElementById("lek-zivotinje").value = faktura.lek;
							}
						</script>
					</div>
					<div class="error"></div>
				</div>
				<div class="inputWrapper">
					<div class="note">Napomena:</div>
					<div class="inputWrap extended">
						<textarea id="napomena-zivotinje"></textarea>
						<script>
							if(faktura){
								document.getElementById("napomena-zivotinje").value = faktura.napomena;
							}
						</script>
					</div>
					<div class="error"></div>
				</div>
				<div class="inputWrapper">
					<div class="note">Preporuka:</div>
					<div class="inputWrap extended">
						<textarea id="preporuka-zivotinje"></textarea>
						<script>
							if(faktura){
								document.getElementById("preporuka-zivotinje").value = faktura.preporuka;
							}
						</script>
					</div>
					<div class="error"></div>
				</div>
				<div class="inputWrapper">
					<div class="note">Veterinar:</div>
					<div class="inputWrap">
						<input type="text" id="ime-veterinara">
						<script>
							if(faktura){
								document.getElementById("ime-veterinara").value = faktura.imeVeterinara;
							}
						</script>
					</div>
					<div class="error"></div>
				</div>
				<div class="inputWrapper">
					<div class="title">Usluge</div>
				</div>
				<div class="services" id="services">
					<div class="header">
						<div class="code">Šif.</div>
						<div class="name">Naziv</div>
						<div class="date">Datum</div>
						<div class="quantity">Količina</div>
						<div class="price">Cena na komad</div>
					</div>
				</div>
				<div class="button" onclick="addService()">Dodaj Uslugu</div>
				<script>
					function addService(name,quantity,price,date,code){
						var serviceWrap	=	document.createElement("DIV");
						serviceWrap.setAttribute("class","serviceWrap");
							var serviceCode	=	document.createElement("DIV");
							serviceCode.setAttribute("class","serviceCode");
								var serviceCodeInput	=	document.createElement("INPUT");
								serviceCodeInput.setAttribute("class","serviceCodeInput");
								serviceCodeInput.setAttribute("onfocus","showSuggestions(this)");
								serviceCodeInput.setAttribute("oninput","suggestionCode(this)");
								serviceCodeInput.setAttribute("type","text");
								if(code){
									serviceCodeInput.value = code;
								}
								serviceCode.appendChild(serviceCodeInput);
							serviceWrap.appendChild(serviceCode);

							var serviceName	=	document.createElement("DIV");
							serviceName.setAttribute("class","serviceName");
								var serviceNameInput	=	document.createElement("INPUT");
								serviceNameInput.setAttribute("class","serviceNameInput");
								serviceNameInput.setAttribute("onfocus","showSuggestions(this)");
								serviceNameInput.setAttribute("oninput","suggestionName(this)");
								serviceNameInput.setAttribute("type","text");
								if(name){
									serviceNameInput.value = name;
								}
								serviceName.appendChild(serviceNameInput);
							serviceWrap.appendChild(serviceName);

							var serviceDate	=	document.createElement("DIV");
							serviceDate.setAttribute("class","serviceDate");
								var serviceDateInput	=	document.createElement("INPUT");
								serviceDateInput.setAttribute("class","serviceDateInput");
								serviceDateInput.setAttribute("type","date");
								if(date){
									serviceDateInput.value = date;
								}
								serviceDate.appendChild(serviceDateInput);
							serviceWrap.appendChild(serviceDate);

							var serviceQuantity	=	document.createElement("DIV");
							serviceQuantity.setAttribute("class","serviceQuantity");
								var serviceQuantityInput	=	document.createElement("INPUT");
								serviceQuantityInput.setAttribute("class","serviceQuantityInput");
								serviceQuantityInput.setAttribute("type","number");
								serviceQuantityInput.setAttribute("min",1);
								if(quantity){
									serviceQuantityInput.value = quantity;
								}
								serviceQuantity.appendChild(serviceQuantityInput);
							serviceWrap.appendChild(serviceQuantity);

							var servicePrice	=	document.createElement("DIV");
							servicePrice.setAttribute("class","servicePrice");
								var servicePriceInput	=	document.createElement("INPUT");
								servicePriceInput.setAttribute("class","servicePriceInput");
								servicePriceInput.setAttribute("type","number");
								if(quantity){
									servicePriceInput.value = price;
								}
								servicePrice.appendChild(servicePriceInput);
							serviceWrap.appendChild(servicePrice);

							var serviceDelete	=	document.createElement("DIV");
							serviceDelete.setAttribute("class","servicePrice");
								var serviceDeleteButton	=	document.createElement("DIV");
								serviceDeleteButton.setAttribute("class","button");
								serviceDeleteButton.setAttribute("onclick","removeService(this)");
								serviceDeleteButton.innerHTML	=	"Izbrisi";
								serviceDelete.appendChild(serviceDeleteButton);
							serviceWrap.appendChild(serviceDelete);

							var serviceSuggestions	=	document.createElement("DIV");
							serviceSuggestions.setAttribute("class","suggestions");
							for(var i=0;i<cenovnik.length;i++){
								var row 	=	document.createElement("DIV");
								row.setAttribute("class","row");
								row.setAttribute("data-json",JSON.stringify(cenovnik[i]));
								row.setAttribute("onclick","fillRow(this)");
									var item = document.createElement("DIV");
									item.setAttribute("class","serviceCodeSuggestion");
									item.innerHTML	=	cenovnik[i].code;
									row.appendChild(item);

									var item = document.createElement("DIV");
									item.setAttribute("class","serviceNameSuggestion");
									item.innerHTML	=	cenovnik[i].name;
									row.appendChild(item);

									var item = document.createElement("DIV");
									item.setAttribute("class","servicePriceSuggestion");
									item.innerHTML	=	cenovnik[i].price;
									row.appendChild(item);
								serviceSuggestions.appendChild(row);
							}
							var suggestionClose	=	document.createElement("DIV");
							suggestionClose.setAttribute("class","suggestionsClose");
							suggestionClose.setAttribute("onclick","this.parentElement.style.display='none'");
							suggestionClose.innerHTML	=	"X";
							serviceSuggestions.appendChild(suggestionClose);
							serviceWrap.appendChild(serviceSuggestions);
						document.getElementById("services").appendChild(serviceWrap);
					}
					if(faktura){
						for(var i=0;i<faktura.usluge.length;i++){
							addService(faktura.usluge[i].name,faktura.usluge[i].quantity,faktura.usluge[i].price,faktura.usluge[i].date,faktura.usluge[i].code)
						}	
					}
					

					function removeService(elem){
						elem.parentElement.parentElement.remove();
					}

					function showSuggestions(elem){
						elem.parentElement.parentElement.getElementsByClassName("suggestions")[0].style.display="block";
					}

					function suggestionCode(elem){
						var filterValue	=	elem.value;
						var rows = elem.parentElement.parentElement.getElementsByClassName("row");
						for(var i=0;i<rows.length;i++){
							var cenaJson	=	JSON.parse(rows[i].dataset.json);
							if(cenaJson.code.includes(filterValue)){
								rows[i].style.display="block"
							}else{
								rows[i].style.display="none";
							}
						}
					}

					function suggestionName(elem){
						var filterValue	=	elem.value;
						var rows = elem.parentElement.parentElement.getElementsByClassName("row");
						for(var i=0;i<rows.length;i++){
							var cenaJson	=	JSON.parse(rows[i].dataset.json);
							if(cenaJson.name.toLowerCase().includes(filterValue.toLowerCase())){
								rows[i].style.display="block"
							}else{
								rows[i].style.display="none";
							}
						}
					}

					function fillRow(elem){
						var cenaJson	=	JSON.parse(elem.dataset.json);
						var fillElems	=	elem.parentElement.parentElement;
						fillElems.getElementsByClassName("serviceCodeInput")[0].value = cenaJson.code;
						fillElems.getElementsByClassName("serviceNameInput")[0].value = cenaJson.name;
						fillElems.getElementsByClassName("servicePriceInput")[0].value = cenaJson.price;
						fillElems.getElementsByClassName("serviceQuantityInput")[0].value = 1;
						var tempDate	=	new Date();
						var yearString	=	tempDate.getFullYear();
						var month 		=	tempDate.getMonth()+1;
						var monthString	=	month.toString().length==1 ? "0"+month : month;
						var day 		=	tempDate.getDate();
						var dayString	=	day.toString().length==1 ? "0"+day : day;
						var dateString	=	yearString + "-" + monthString + "-" + dayString;
						fillElems.getElementsByClassName("serviceDateInput")[0].value = dateString;
						fillElems.getElementsByClassName("serviceQuantityInput")[0].value = 1;
						elem.parentElement.style.display = "none";
					}
				</script>
				<div style="margin-top:10px;margin-bottom:10px;padding-bottom:10px;border-bottom:2px solid rgb(255,255,255)"></div>
				<div class="button" style="margin-bottom:10px" onclick="saveToServer();loadGif()">Sačuvaj na server</div>
				<div class="button" style="margin-bottom:10px" onclick="printPdf(createJson(),2,1)">Štampaj PDF</div>
				<div class="button" style="margin-bottom:10px" onclick="printPdf(createJson(),2,0)">Štampaj SKRAĆENI PDF</div>
				<div class="button" style="margin-bottom:10px" onclick="printPdf(createJson(),1,1)">Sačuvaj PDF</div>
				<div class="button" style="margin-bottom:10px" onclick="printPdf(createJson(),1,0)">Sačuvaj SKRAĆENI PDF</div>
				<div class="button" style="margin-bottom:10px" onclick="loadExample()">Učitaj Primer</div>
			</div>
			
		</div>	
	</div>
	
	<form method="post" action="/post-invoice" style="display:none" id="submit-form">
		<input type="text" id="faktura-json" name="fakturajson">
		<input type="text" id="faktura-id" name="fakturaid" value="new">
		<script>
			if(faktura){
				document.getElementById("faktura-id").value = faktura.uniqueId;
			}
		</script>
	</form>

	
	<script>
		var faktura;
		var size;
		var text;

		var exampleJson	=	{};
		exampleJson.broj			=	"2021/5448";
		exampleJson.datumFakture	=	"2022-10-31";
		exampleJson.imeVlasnika		=	"Miloš Ivanković";
		exampleJson.adresaVlasnika	=	"Vukasovićeva 37/8, 11090 Beograd";
		exampleJson.telefonVlasnika	=	"065/3592-571";

		exampleJson.imeZivotinje	=	"Beki";
		exampleJson.vrstaRasa		=	"Pas / Mešanac";
		exampleJson.mikrocip		=	"6880500000215790";
		exampleJson.pol				=	"Ženka";
		exampleJson.boja			=	"Belo braon";
		exampleJson.datumRodjenja	=	"2010-01-28";
		exampleJson.tezina			=	"6";
		exampleJson.temperatura		=	"36";
		exampleJson.anamneza		=	"Pas mokri krv";
		exampleJson.klinickiNalaz	=	"Kuja 13 godina stara, nema bolova, sluzukože b.o., ln. nisu oštećeni, ultrazvučno se vidi bešika mala 2,5cm u prečniku, u bešici prisutan pesak i urolithi, u levom bubregu prisutan pesak u bubrežnoj karlici, struktura bubrega blago proširene časice. Jetra b.o.";
		exampleJson.dijagnoza		=	"Urilithiasis";
		exampleJson.lek				=	"";
		exampleJson.napomena		=	"";
		exampleJson.preporuka		=	"rowatinex 2x2, bactrim 480mg, 2x1. Kontrola za 7 dana.";
		exampleJson.imeVeterinara	=	"Nataša Čubrak";
		exampleJson.usluge		=	[
				{
					code: "10204",
					name:"Klinički pregled",
					quantity: 1,
					price: 1000,
					date: "2022-10-31"
				},
				{
					code:"10204/1",
					name:"Uključivanje infuzije",
					quantity: 2,
					price: 1000,
					date: "2022-09-30"
				}
			];

		function saveToServer(){
			document.getElementById("faktura-json").value = JSON.stringify(createJson());
			document.getElementById("submit-form").submit();
		}

		function loadExample(){
			document.getElementById("broj-fakture").value				=	exampleJson.broj;
			document.getElementById("datum-fakture").value				=	exampleJson.datumFakture;
			document.getElementById("ime-vlasnika").value				=	exampleJson.imeVlasnika;
			document.getElementById("adresa-vlasnika").value			=	exampleJson.adresaVlasnika;
			document.getElementById("telefon-vlasnika").value			=	exampleJson.telefonVlasnika;

			document.getElementById("ime-zivotinje").value				=	exampleJson.imeZivotinje;
			document.getElementById("vrsta-rasa-zivotinje").value		=	exampleJson.vrstaRasa;
			document.getElementById("mikrocip-zivotinje").value			=	exampleJson.mikrocip;
			document.getElementById("pol-zivotinje").value				=	exampleJson.pol;
			document.getElementById("boja-zivotinje").value				=	exampleJson.boja;
			document.getElementById("datum-rodjenja-zivotinje").value	=	exampleJson.datumRodjenja;
			document.getElementById("tezina-zivotinje").value			=	exampleJson.tezina;
			document.getElementById("temperatura-zivotinje").value		=	exampleJson.temperatura;
			document.getElementById("anamneza-zivotinje").value			=	exampleJson.anamneza;
			document.getElementById("klinicki-nalaz-zivotinje").value	=	exampleJson.klinickiNalaz;
			document.getElementById("dijagnoza-zivotinje").value		=	exampleJson.dijagnoza;
			document.getElementById("lek-zivotinje").value				=	exampleJson.lek;
			document.getElementById("napomena-zivotinje").value			=	exampleJson.napomena;
			document.getElementById("preporuka-zivotinje").value		=	exampleJson.preporuka;
			document.getElementById("ime-veterinara").value				=	exampleJson.imeVeterinara;
			for(var i=0;i<exampleJson.usluge.length;i++){
				var uslugaJson	=	JSON.parse(JSON.stringify(exampleJson.usluge[i]));
				addService(uslugaJson.name,uslugaJson.quantity,uslugaJson.price,uslugaJson.date,uslugaJson.code);
			}
		}

		function reshuffleDate(dateString){
			var dateArray	=	dateString.split("-");
			return dateArray[2]+"/"+dateArray[1]+"/"+dateArray[0]
		}

		function createJson(){
			var fakturaJson				=	{};
			fakturaJson.uniqueId		=	document.getElementById("faktura-id").value;
			fakturaJson.broj			=	document.getElementById("broj-fakture").value;
			fakturaJson.datumFakture	=	document.getElementById("datum-fakture").value;
			fakturaJson.imeVlasnika		=	document.getElementById("ime-vlasnika").value;
			fakturaJson.adresaVlasnika	=	document.getElementById("adresa-vlasnika").value;
			fakturaJson.telefonVlasnika	=	document.getElementById("telefon-vlasnika").value;

			fakturaJson.imeZivotinje	=	document.getElementById("ime-zivotinje").value;
			fakturaJson.vrstaRasa		=	document.getElementById("vrsta-rasa-zivotinje").value;
			fakturaJson.mikrocip		=	document.getElementById("mikrocip-zivotinje").value;
			fakturaJson.pol				=	document.getElementById("pol-zivotinje").value;
			fakturaJson.boja			=	document.getElementById("boja-zivotinje").value;
			fakturaJson.datumRodjenja	=	document.getElementById("datum-rodjenja-zivotinje").value;
			fakturaJson.tezina			=	document.getElementById("tezina-zivotinje").value;
			fakturaJson.temperatura		=	document.getElementById("temperatura-zivotinje").value;
			fakturaJson.anamneza		=	document.getElementById("anamneza-zivotinje").value;
			fakturaJson.klinickiNalaz	=	document.getElementById("klinicki-nalaz-zivotinje").value;
			fakturaJson.dijagnoza		=	document.getElementById("dijagnoza-zivotinje").value;
			fakturaJson.lek				=	document.getElementById("lek-zivotinje").value;
			fakturaJson.napomena		=	document.getElementById("napomena-zivotinje").value;
			fakturaJson.preporuka		=	document.getElementById("preporuka-zivotinje").value;
			fakturaJson.imeVeterinara	=	document.getElementById("ime-veterinara").value;
			fakturaJson.usluge			=	[];
			var serviceElements	=	document.getElementById("services").getElementsByClassName("serviceWrap");
			for(var i=0;i<serviceElements.length;i++){
				var serviceObject		=	{};
				serviceObject.name 		=	serviceElements[i].getElementsByClassName("serviceNameInput")[0].value;
				serviceObject.quantity	=	serviceElements[i].getElementsByClassName("serviceQuantityInput")[0].value;
				serviceObject.price		=	serviceElements[i].getElementsByClassName("servicePriceInput")[0].value;
				serviceObject.date		=	serviceElements[i].getElementsByClassName("serviceDateInput")[0].value;
				serviceObject.code		=	serviceElements[i].getElementsByClassName("serviceCodeInput")[0].value;
				fakturaJson.usluge.push(serviceObject);
			}
			return fakturaJson;

		}
	</script>
<%- include ("partials/footer") -%>